.vbox {
    -fx-background-color: #FFF;
    -fx-text-fill: #131313;
}

.button {
    -fx-background-color: #FFF;
    -fx-text-fill: #131313;
    -fx-min-width: 100%;
    -fx-min-height: 100%;
    -fx-font-size: 18px;
}

.button:hover {
    -fx-border-color: #E6E6E6;
    -fx-border-width: 5;
    -fx-border-radius: 1;
}

.button:pressed {
}